<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Management System</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="navbar">
    <div class="navbar-container">
        <div class="logo">
            <img th:src="@{/images/logoFMS.png}" alt="FMS Logo" />
        </div>
        <div class="navbar-items">
            <a href="/passengers" class="navbar-item">Passengers</a>
            <a href="/flights" class="navbar-item">Flights</a>
            <a href="/aircraft" class="navbar-item">Aircraft</a>
            <a href="/tickets" class="navbar-item">Tickets</a>
        </div>
    </div>
</div>

<div class="main-title">
    <h1>Flight Management System</h1>
</div>

</body>
</html>
<script>
    function goBack() {
        window.history.back();
    }
</script>
